REDIS_URL=redis://localhost:6379
DFX_HOST=http://localhost:8000
DFX_CANISTERID=75hes-oqbaa-aaaaa-aaaaa-aaaaa-aaaaa-aaaaa-q
DFX_KEY=eyJwdWJsaWNLZXkiOnsidHlwZSI6IkJ1ZmZlciIsImRhdGEiOlsxMjQsMTYyLDI3LDE4NCwyMjMsNDAsMTU0LDE3OSwxOTIsMjI4LDExNywyNCwyMzYsMjMzLDIzNyw3NSw1NywxMzUsMjE2LDE1MywxNDUsMTc2LDcyLDg3LDEzMywxOTksNDEsMzMsMTAzLDEyOCwxMTAsMjI4XX0sInNlY3JldEtleSI6eyJ0eXBlIjoiQnVmZmVyIiwiZGF0YSI6WzIzOCwyMDYsNjAsMTYsMTksNDcsNzMsMjM1LDIxOSwxNjYsMTU4LDE5MSwxMzQsNTgsNzcsMTE4LDE0OCwxODUsMjQwLDkxLDE5NSwxMjMsMjMyLDY0LDE3MSwxNDUsMTAyLDE2MCw5MCwxMjgsMjE4LDIwLDEyNCwxNjIsMjcsMTg0LDIyMyw0MCwxNTQsMTc5LDE5MiwyMjgsMTE3LDI0LDIzNiwyMzMsMjM3LDc1LDU3LDEzNSwyMTYsMTUzLDE0NSwxNzYsNzIsODcsMTMzLDE5OSw0MSwzMywxMDMsMTI4LDExMCwyMjhdfX0NCg==
DFX_KEYPRINCIPAL=hvlee-by6ir-n75ah-5pxmf-7li2m-hswb4-433bs-3cto5-agelg-rc3et-6ae
SENDGRID_APIKEY=SG.FOOBAR
SENDGRID_FROM=mysender@email.com